<!DOCTYPE html>
<html>

  <!-- head is not rendered, but can include important metadata and can fetch assets -->
  <head>
    <!-- This name appears in the tab -->
    <title>Page Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- we get the bootstrap css file first -->
    <link href="../assets/stylesheets/bootstrap.css" rel="stylesheet">
    <link href="../assets/stylesheets/hover-min.css" rel="stylesheet">
    <!-- and then our own - allowing us to overwrite a given rule bootstrap already defined -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Raleway:400,600|Poppins:500" rel="stylesheet">
    <link href="../public/stylesheets/style.css" rel="stylesheet">

  </head>
  <!-- the body is where the HTML you expect to be rendered goes -->
  <body>

  <!--NAVBAR-->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid nav">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" id="navbar-brand" href="#">Brand</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav" id="navbar-left">
          <li class=""><a href="#">LINK<span class="sr-only">(current)</span></a></li>
          <li><a href="#">LINK</a></li>
          <li><a href="#">LINK</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">
            <button class="nav-right-button">DONATE</button></a>
          </li>
          <li><a href="#">
            <button class="nav-right-button">VOLUNTEER</button></a>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<!--HEADER SECTION-->
<div class="container-fluid header center">
  <div class="row">
    <div class="col-sm-12">
      <div class="form-wrapper">

        <form class="header-form">
          <h1 class="emphasis-font">Quality Education for All<span style="color: #53D8FB">.</span></h1>
          <p>100% of your donation go to girls in low-income countries who will be the first in their families to graduate high school.
         </p>
          <button type="submit" class="header-button emphasis-button button-font hvr-icon-forward btn btn-default">MEET THEM &#0020 &#0020 &#0020</button>
        </form>

      </div>
    </div>
  </div>
</div>

<!--ABOUT SECTION-->
<div class="mission body-padding center">


    <h2 class="emphasis-font">Donate for charity & stop the war!</h2>
    <p class="spaced">This is the “First Content Block”. It consists of 2 sections. Upper section is a parent page and the 3 columns below are its child pages. Page to be shown here can be selected from the dropdown menu within the customizer front page section. </p>
    <hr>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-sm-4 mission-group">
        <img class="cause-img" src="../public/img/plant.png">
        <h3 class="emphasis-font">First Cause</h3>
        <p class="cause-info spaced">This is the first child page of the parent above. Content consists of featured image and text. Lorem ipsum dolor sit amet, consectetur.</p>
      </div>
      <div class="col-sm-12 col-sm-4 mission-group">
        <img class="cause-img" src="../public/img/grain.png">
        <h3 class="emphasis-font">Second Cause</h3>
        <p class="cause-info spaced">This is the first child page of the parent above. Content consists of featured image and text. Lorem ipsum dolor sit amet, consectetur.</p>
      </div>
      <div class="col-sm-12 col-sm-4 mission-group">
        <img class="cause-img" src="../public/img/woman.png">
        <h3 class="emphasis-font">Third Cause</h3>
        <p class="cause-info spaced">This is the first child page of the parent above. Content consists of featured image and text. Lorem ipsum dolor sit amet, consectetur.</p>
      </div>
    </div>
  </div>

</div>

<!--DONATE SECTION-->

<div class="donate body-padding">

  <div class="col-sm-12">
    <div class="donate-info">
      <h3 class="emphasis-font">Maisha. is charitable organization</h3>
        <p class="spaced">This is the “Second Content Block”. Page to be shown here can be selected from the dropdown menu within the customizer front page section. All content is added into the page editor. Background image is featured image.</p>
        <button type="submit" class="donate-button emphasis-button button-font btn btn-default">DONATE</button>
    </div>
    </div>

</div>


<!--SUCCESS SECTION-->

<div class="success">
  <div class="success-inner body-padding">
    <form class="form-inline">

        <div class="form-group">
          <input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
        </div>

        <div class="form-group">
          <input type="text" class="form-control" id="exampleInputName2" placeholder="you@example.com">
        </div>

      <button type="submit" class=" emphasis-font btn btn-default sign-up">Send invitation</button>

    </form>

    <div class="container-fluid clearfix success-group">
      <div class="row">
        <div class="col-sm-12 col-sm-6 success-video"></div>
        <div class="col-sm-12 col-sm-6 success-info"></div>
      </div>
    </div>


    <div class="center">
      <h4>not done yet<h4>
    </div>
  </div>
</div>

<!--GET INVOLVED SECTION-->

<div class="join body-padding">
  <div class="center">
      <h3 class="emphasis-font">We're doing good</h3>
      <p>Get Involved</p>
  </div>

  <div class="container-fluid clearfix">
    <div class="row">
      <div class="col-xs-6 col-sm-3 join-us">
        <img src="http://placehold.it/247x247" class="img-responsive">
      </div>
      <div class="col-xs-6 col-sm-3 join-us">
        <img src="http://placehold.it/247x247" class="img-responsive">
      </div>
      <div class="col-xs-6 col-sm-3 join-us">
        <img src="http://placehold.it/247x247" class="img-responsive">
      </div>
      <div class="col-xs-6 col-sm-3 join-us">
        <img src="http://placehold.it/247x247" class="img-responsive">
      </div>

    </div>
  </div>

</div>

<!--HERO SECTION-->

<div class="hero body-padding clearfix">

  <div class="col-sm-12 col-sm-4 hero-info">
    <p>balhablah</p>
    <button type="submit" class="emphasis-button hero-button button-font btn btn-default">LEARN MORE ></button>
  </div>

</div>









    <footer>FOOTER</footer>
      <!-- we add our scripts at the very bottom so they are loaded last -->

      <script src="../assets/jquery/jquery-3.1.1.min.js"></script>
      <!-- for example, bootstrap.js! -->
      <!--<script src="/bootstrap/js/bootstrap.min.js"></script>-->
      <!-- then we add our own in the order we expect them to be run -->

      <script src="../public/js/main.js"></script>

  </body>
</html>
