<!DOCTYPE html>
<html>

  <!-- head is not rendered, but can include important metadata and can fetch assets -->
  <head>
    <!-- This name appears in the tab -->
    <title>Page Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- we get the bootstrap css file first -->
    <link href="../assets/bootstrap/bootstrap.css" rel="stylesheet">
    <link href="../assets/stylesheets/hover-min.css" rel="stylesheet">
    <!-- and then our own - allowing us to overwrite a given rule bootstrap already defined -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500|Raleway|Poppins:300,500" rel="stylesheet">
    <link href="../public/stylesheets/style.css" rel="stylesheet">

  </head>
  <!-- the body is where the HTML you expect to be rendered goes -->
  <body>

  <!--NAVBAR-->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid nav">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand light-emphasis-font" id="navbar-brand" href="#">Brand</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav" id="navbar-left">
          <li class="light-emphasis-font"><a href="#">LINK<span class="sr-only">(current)</span></a></li>
          <li class="light-emphasis-font"><a href="#">LINK</a></li>
          <li class="light-emphasis-font"><a href="#">LINK</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">
            <button class="nav-right-button light-emphasis-font">DONATE</button></a>
          </li>
          <li><a href="#">
            <button class="nav-right-button light-emphasis-font">VOLUNTEER</button></a>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<!--HEADER SECTION-->
<div class="container-fluid header center">
      <div class="header-shape">
        <div class="header-diagonal">
          <form class="header-form">
            <h2 class="emphasis-font">Education for All<span style="color: #53D8FB">.</span></h2>
            <p class="spaced">100% of your donation go to students in low-income countries who will be the first in their families to graduate high school.
            <br><br>
            This is the hero section to introduce your site.
            </p>
            <button type="submit" class="header-button emphasis-button button-font hvr-icon-forward btn btn-default">MEET THEM</button>
          </form>
        </div>
      </div>

  </div>
</div>

<!--CAUSE SECTION-->
<div class="cause body-padding center">

    <h2 class="emphasis-font">Donate for charity & help the children!</h2>
    <p class="spaced">This is the “First Content Block”. It consists of 2 sections. Upper section is the headline and introduction, and the 3 columns below are its child pages. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lacinia nisl in arcu ullamcorper bulla arcu ipsum, ullam.</p>
    <hr>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-sm-4 cause-group">
        <img class="cause-img" src="../public/img/book.png">
        <h3 class="light-emphasis-font">First Cause</h3>
        <p class="cause-info spaced">This is the first child page of this content block. Content consists of featured image and text. Lorem ipsum dolor sit amet, consectetur.</p>
      </div>
      <div class="col-sm-12 col-sm-4 cause-group">
        <img class="cause-img" src="../public/img/hat.png">
        <h3 class="light-emphasis-font">Second Cause</h3>
        <p class="cause-info spaced">This is the second child page of this content block. Content consists of featured image and text. Lorem ipsum dolor sit amet.</p>
      </div>
      <div class="col-sm-12 col-sm-4 cause-group">
        <img class="cause-img" src="../public/img/diploma.png">
        <h3 class="light-emphasis-font">Third Cause</h3>
        <p class="cause-info spaced">This is the third child page of this content block. Content consists of featured image and text. Lorem ipsum dolor sit amet, consectetur.</p>
      </div>
    </div>
  </div>

</div>

<!--DONATE SECTION-->

<div class="donate body-padding">

  <div class="col-sm-12">
    <div class="donate-info">
      <h3 class="emphasis-font">We are a charitable organization</h3>
        <p class="spaced">This is the “Second Content Block”, featuring a button that can link to another page. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lacinia nisl in arcu ullamcorper mollis vel non orci. In consectetur faucibus bulla arcu ipsum, ullam.</p>
        <button type="submit" class="donate-button emphasis-button button-font btn btn-default spaced">DONATE</button>
    </div>
  </div>

</div>

<!--PROGRAM SECTION-->

<div class="program">
  <div class="program-inner body-padding">

    <div class="container-fluid clearfix program-group">
      <div class="row">
        <div class="col-sm-12 col-sm-5 program-sidebar">
          <img src="../public/img/hello copy.png">
          <div class="student">
            <p class="emphasis-font">Maisha is the first in her family to continue education past the age of 11.</p>
          </div>
        </div>

        <div class="col-sm-12 col-sm-7 program-info">

          <div class="secondary-description">
            <img class="secondary-img" src="../public/img/3.png">
            <div class="text-right">
              <h3>First Program</h3>
              <p class="spaced">This is the first child page of the "Third Content Block". Content consists of featured image and text. Lorem ipsum dolor sit amet, consectetur.</p>
            </div>
          </div>

           <div class="secondary-description">
            <img class="secondary-img" src="../public/img/2.png">
            <div class="text-right">
              <h3>Second Program</h3>
              <p class="spaced">This is the second child page of the "Third Content Block". Content consists of featured image and text. Lorem ipsum dolor sit amet, consectetur.</p>
            </div>
          </div>

          <div class="secondary-description">
            <img class="secondary-img" src="../public/img/4.png">
            <div class="text-right">
              <h3>Third Program</h3>
              <p class="spaced">This is the third child page of the "Third Content Block". Content consists of featured image and text. Lorem ipsum dolor sit amet, consectetur.</p>
            </div>
          </div>

          <div class="secondary-description">
            <img class="secondary-img" src="../public/img/1.png">
            <div class="text-right">
              <h3>Fourth Program</h3>
              <p class="spaced">This is the fourth child page of the "Third Content Block". Content consists of featured image and text. Lorem ipsum dolor sit amet, consectetur.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--SUCCESS SECTION-->
<div class="success clearfix">
  <div class="success-shape">
    <div class="success-diagonal">
      <div class="success-info center">
        <h3 class="emphasis-font">We're making strides. Since 2011:</h3>
        <p class="light-emphasis-font spaced">2,216 Scholarships</h3>
          <p class="light-emphasis-font">2,216 Scholarships</h3>
          <p class="light-emphasis-font">805 Scholars</h3>
          <p class="light-emphasis-font">180 Graduated</h3>
          <p class="light-emphasis-font">216 Campus Chapters</h3>
          <p class="light-emphasis-font">200 Campus Alumni</h3>
      </div>
    </div>
  </div>
</div>


<!--GET INVOLVED SECTION-->

<div class="join body-padding">

  <form class="form-inline">
    <div class="form-group">
      <input type="text" class="form-control round" id="exampleInputName2" placeholder="Jane Doe">
    </div>
    <div class="form-group">
      <input type="text" class="form-control no-round" id="exampleInputName2" placeholder="you@example.com">
    </div>
    <button type="submit" class="emphasis-font btn btn-default sign-up">GET OUR EMAILS</button>
  </form>

  <div class="center">
    <p class="emphasis-font">WITH YOUR HELP</p>
    <h3>We can provide quality education for deserving children around the world. Lorem ipsum dolor sit amet, consectetur.</h3>
    <h2 class="emphasis-font">Ready to get started?</h2>
  </div>

  <div class="container-fluid clearfix join-us">
    <div class="row">
      <div class="col-xs-6 col-sm-3 minor">
        <a href="#">
        <img src="../public/img/boy.jpg" class="img-responsive">
        <h2 class="light-emphasis-font">Donate</h2>
        </a>
      </div>
      <div class="col-xs-6 col-sm-3">
        <a href="#">
        <img src="../public/img/friends.jpg" class="img-responsive">
        <h2 class="light-emphasis-font">Support</h2>
        </a>
      </div>
      <div class="col-xs-6 col-sm-3">
        <a href="#">
        <img src="../public/img/girl.jpg" class="img-responsive">
        <h2 class="light-emphasis-font">Volunteer</h2>
        </a>
      </div>
      <div class="col-xs-6 col-sm-3">
        <a href="#">
        <img src="../public/img/28127373570_8ced0c9a1d_b.jpg" class="img-responsive">
        <h2 class="light-emphasis-font">Learn</h2>
        </a>
      </div>
    </div>
  </div>
</div>


<!--FOOTER-->
<footer>
  <div class="container-fluid clearfix">
    <div class="row">
      <div class="col-xs-6 col-sm-4">
        <h3 class="spaced-2">get to know us</h3>
        <a href="#"><p>meet our students</p></a>
        <a href="#"><p>meet our staff</p></a>
        <a href="#"><p>financials</p></a>
        <a href="#"><p>impact report 2017</p></a>
      </div>
      <div class="col-xs-6 col-sm-4">
        <h3 class="spaced-2">get involved</h3>
        <a href="#"><p>volunteer</p></a>
        <a href="#"><p>shop our store</p></a>
        <a href="#"><p>internships & careers</p></a>
        <a href="#"><p>brand partnerships</p></a>
      </div>
      <div class="col-xs-12 col-sm-4">
        <h3 class="spaced-2">connect with us</h3>
        <a href="#"><p>sign up for our emails</p></a>
        <a href="#"><p>read our blog</p></a>
        <a href="#"><p>contact us & faq</p></a>
        <a href="#"><img src="../public/img/facebook-6-24.png"></a>
        <a href="#"><img src="../public/img/twitter-3-24.png"></a>
        <a href="#"><img src="../public/img/instagram-6-24.png"></a>
        <a href="#"><img src="../public/img/snapchat-24.png"></a>
        <a href="#"><img src="../public/img/linkedin-6-24.png"></a>
      </div>
    </div>
    <div class="row body-padding">
      <div class="col-sm-12 center">
        <hr>
        <p>we are a 501c3 | <a href="#">privacy policy</a> | ©2017</p>
      </div>
    </div>
  </div>
  <div class="footer-shape">
    <div class="footer-diagonal">
    </div>
  </div>
</footer>

<!-- we add our scripts at the very bottom so they are loaded last -->
<script src="../assets/jquery/jquery-3.1.1.min.js"></script>
<!-- for example, bootstrap.js! -->
<script src="../assets/bootstrap/bootstrap.min.js"></script>
<!-- then we add our own in the order we expect them to be run -->
<script src="../public/js/main.js"></script>

  </body>
</html>
