
.content-wrap {
  margin: 0 auto;
  max-width: 1075px;
  padding: 50px 15px;
  position: relative;
}

.lrg-rl-padding {
  padding-left: 30px;
  padding-right: 30px;
}

.narrow-padding {
  padding: 30px 15px 0
}

.heading-container {
  text-align: center;
}
