
//INTRO SECTION

.intro,
.narrow-padding {
  .text {
    margin-bottom: 40px
  }
}

.quote-container {
  border: none;
  height: 100%;
  margin-bottom: 0;
  position: relative;
}

.quote {
  text-align: center;
}
