* {
  box-sizing: border-box;
  font-family: "Poppins";
  color: #504949;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

#main {
  overflow: hidden; }

.text.-caps {
  text-transform: uppercase; }

.centered {
  text-align: center; }

.text.-bold {
  font-weight: 600; }

.text.-wide-spacing {
  letter-spacing: .23em; }

.text.-serif {
  font-family: 'Merriweather';
  font-weight: 300; }

.text.-x-small {
  font-size: 14px;
  line-height: 1.733333333; }

.text.-small {
  font-size: 17px;
  line-height: 1.777777778; }

.text.-medium {
  font-size: 20px;
  line-height: 1.428571429; }

.text.-large {
  font-size: 28px;
  line-height: 1.428571429; }

.text.-color-dark {
  color: #0e5254; }

.text.-color-accent {
  color: #BB7140; }

cite a {
  color: #EC4444;
  text-decoration: underline;
  vertical-align: super;
  font-size: 13px;
  font-style: normal; }

.bg-green {
  background-color: #d2e7e2; }

.content-wrap {
  padding: 50px 15px;
  position: relative; }

.lrg-rl-padding {
  padding-right: 30px;
  padding-left: 30px; }

header {
  height: 32.5vh; }

.header-img {
  width: 100%;
  margin: 17px auto 0; }

.pills, .anatomy {
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute; }

.pills.-yellow {
  background-image: url("../../public/img/pills_7.png");
  height: 55px;
  width: 70px;
  top: -16px;
  left: 10px; }

.pills.-multiple {
  background-image: url("../../public/img/pills_2.png");
  height: 100px;
  width: 170px;
  top: -5px;
  right: -105px; }

.pills.-purple {
  background-image: url("../../public/img/pills_5.png");
  height: 100px;
  width: 70px;
  right: -35px;
  bottom: -45px; }

.intro > p {
  margin-bottom: 50px; }

.quote-container {
  position: relative;
  height: 100%; }

.bottle-1 {
  background-image: url("../../public/img/pills_3.png");
  width: 70px;
  height: 140px;
  left: -50px;
  top: 81px;
  z-index: 1; }

.bottle-2 {
  background-image: url("../../public/img/pills_4.png");
  width: 55px;
  height: 140px;
  left: -25px;
  top: 20px; }

.quote {
  position: relative;
  width: 225px;
  left: 45px; }

.diagram {
  padding-top: 25px; }

.diagram-details {
  padding-top: 65px; }

.diagram-detail {
  position: relative;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  padding: 73px 38px 38px; }

.diagram-detail > .icon {
  position: absolute;
  border-radius: 100px;
  right: 0;
  left: 0;
  margin: 0 auto; }

.diagram-detail > .icon.-borders {
  width: 88px;
  height: 88px;
  top: -33.5px;
  border: 10px solid rgba(255, 255, 255, 0.57); }

.diagram-detail > .icon.-color {
  top: -25px;
  width: 71px;
  height: 71px;
  background-color: #f2c84d;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 7px solid white; }
  .diagram-detail > .icon.-color img.resize {
    width: 65%;
    padding-top: 4px; }

.diagram-detail > .content {
  line-height: 1.375; }

.question {
  padding-top: 75px; }
