/* Icon Forward */
.hvr-icon-forward {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  padding-right: 1.6em;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s; }

.hvr-icon-forward:before {
  content: ">";
  position: absolute;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.hvr-icon-forward:hover:before, .hvr-icon-forward:focus:before, .hvr-icon-forward:active:before {
  -webkit-transform: translateX(4px);
  transform: translateX(4px); }

body {
  color: #0b3059;
  font-family: 'Raleway', sans-serif;
  font-weight: 400; }

* {
  box-sizing: border-box; }

p {
  font-size: 1.15em; }

.spaced {
  margin-top: 20px;
  line-height: 155%; }

.center {
  text-align: center; }

.img-responsive {
  width: 100%; }

.body-padding {
  padding: 40px 20px; }

.emphasis-font {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500; }

.light-emphasis-font {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400; }

.emphasis-button {
  height: 58px;
  width: 170px;
  border: none; }

.button-font {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 1.2em; }

.navbar-default {
  background-color: transparent;
  border: none;
  transition: 0.2s all linear; }

.navbar-default.change-color {
  background-color: #f56476; }

.nav-right-button {
  background-color: transparent;
  border: 1px solid #0b3059;
  color: #0b3059;
  font-weight: 600;
  border-radius: 3px;
  padding: 5px 8px;
  transition: 0.13s all linear; }

#navbar-left > li > a, #navbar-brand {
  color: #0b3059;
  font-weight: 600;
  transition: 0.13s all linear; }

#navbar-left > li > a:hover, #navbar-brand:hover {
  color: #FFFDAA; }

.nav-right-button:hover {
  border: 1px solid #FFFDAA;
  color: #FFFDAA; }

.navbar-default .navbar-toggle {
  border-color: #0b3059;
  transition: 0.13s all linear; }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #0b3059;
    transition: 0.13s all linear; }

.navbar-default .navbar-toggle:hover {
  border-color: #FFFDAA;
  background-color: transparent; }
  .navbar-default .navbar-toggle:hover .icon-bar {
    background-color: #FFFDAA; }

.navbar-default .navbar-toggle:focus {
  background-color: transparent; }

.container-fluid.nav {
  padding: 0 20px; }

.header {
  height: 590px;
  padding: 0;
  background-image: url("../img/header.jpg");
  background-size: cover; }

.form-wrapper {
  width: 100%;
  height: 400px;
  margin: 0; }

.header-shape {
  width: 100%;
  margin: 0; }

.header-diagonal {
  height: 0;
  border-width: 0 190px 590px 0;
  border-style: solid;
  border-color: transparent transparent rgba(255, 245, 200, 0.83); }

/* Support transparent border colors in IE6. */
.header-form {
  position: absolute;
  top: 120px;
  left: 10px;
  z-index: 2;
  margin-right: 40%;
  padding: 20px 0 0px 7%;
  display: flex;
  flex-direction: column;
  justify-content: space-around; }
  .header-form button {
    margin-top: 7%; }

.header-button {
  width: 85%;
  margin: 0 auto;
  background-color: #53D8FB; }

.header-button:hover {
  background-color: #08c7f9; }

.cause-group {
  margin: 30px 0; }

.cause-info {
  width: 75%;
  margin: 0 auto; }

.cause-img {
  width: 100px; }

.success {
  background-image: url("../img/header copy.png");
  background-size: cover;
  height: 600px; }

.success-button {
  width: 170px;
  background-color: #E43F6F;
  color: white; }

.success-shape {
  margin: 0; }

.success-diagonal {
  position: relative;
  height: 0;
  border-width: 0 0 600px 190px;
  border-style: solid;
  border-color: transparent transparent rgba(211, 239, 255, 0.83); }

.success-info {
  top: 129px;
  width: 100%;
  right: 7%;
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-around; }
  .success-info h3 {
    font-size: 28px; }
  .success-info p {
    font-size: 18px; }

.donate {
  height: 100%;
  background: linear-gradient(120deg, #183059, #114B5F);
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around; }
  .donate h3 {
    margin-top: 0; }

.donate-info {
  padding: 20px;
  color: white; }

.donate-button:hover {
  background-color: #08c7f9; }

.donate-button {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  margin-top: 4%;
  background-color: #53D8FB; }

.donate-button:before {
  content: '';
  position: absolute;
  border: #53D8FB solid 4px;
  border-radius: 5px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: top, right, bottom, left;
  transition-property: top, right, bottom, left; }

.donate-button:hover:before, .donate-button:focus:before, .donate-button:active:before {
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px; }

.program {
  background-color: white; }

.form-control, button.sign-up {
  height: 55px;
  margin-bottom: -16px;
  font-size: 1.15em;
  font-weight: 500; }

.form-inline {
  width: 98%;
  margin: 0 auto; }

.round, .no-round {
  border: 1px solid lightgray;
  background-color: #fefaed; }

.round {
  border-radius: 5px 5px 0px 0px; }

button.sign-up {
  width: 100%;
  border-radius: 0 0 5px 5px;
  font-size: 1.0em;
  letter-spacing: .1em;
  background-color: #F4D35E;
  font-weight: 600;
  border: 1px solid #F4D35E;
  margin-bottom: 40px;
  transition: 0.15s all linear; }

button.sign-up:hover {
  background-color: #f6da76;
  border: 1px solid #F4D35E; }

.no-round {
  border-radius: 0; }

.program-group {
  margin-top: 30px;
  margin-bottom: 50px; }

.program-video {
  background-color: lightgreen; }

.program-info {
  background-color: white; }

.secondary-img {
  width: 70px; }

.secondary-description {
  display: flex;
  flex-direction: row;
  align-items: flex-start; }
  .secondary-description h3 {
    font-size: 24px;
    margin-top: 0; }

.text-right {
  text-align: left;
  padding-left: 4%;
  padding-bottom: 6%; }

.join-us {
  padding-top: 15px;
  padding-left: 5px;
  padding-right: 5px;
  position: relative; }
  .join-us h2 {
    position: absolute;
    font-size: 28px;
    top: 65%;
    left: 8%;
    width: 100%;
    color: white; }

.minor {
  padding-top: 14px; }

footer {
  background: linear-gradient(120deg, #183059, #114B5F);
  height: 100%; }
  footer p, footer h3 {
    color: white;
    letter-spacing: 0.8px;
    font-weight: 200; }

@media screen and (min-width: 768px) {
  h2 {
    font-size: 2.57em; }
  h3 {
    font-size: 2.15em; }
  p {
    font-size: 1.25em; }
  .light-emphasis-font {
    font-size: 26px; }
  .container-fluid.nav {
    width: 73%; }
  #navbar-left > li > a, #navbar-brand {
    padding-top: 20px; }
  .form-wrapper {
    width: 100%;
    height: 650px;
    margin: 0 auto; }
  .header-shape {
    width: 670px;
    height: 650px;
    margin: 0; }
  .header-diagonal {
    position: relative;
    border-width: 0 230px 650px 0; }
  .header {
    height: 650px; }
  .header-form {
    border: none;
    width: 450px;
    height: 350px;
    left: 30px; }
  .header-button {
    width: 72%; }
  .cause-info {
    width: 100%; }
  .donate-info {
    margin: 0 auto;
    width: 70%;
    padding: 20px; }
  .donate-button {
    margin-top: 2%; }
  .form-inline {
    display: flex;
    justify-content: center; }
  .form-inline .form-control {
    width: 260px; }
  button.sign-up {
    width: auto;
    border-radius: 0px 5px 5px 0px;
    padding: 0px 5%; }
  .round {
    border-radius: 5px 0px 0px 5px; }
  .success {
    height: 700px; }
    .success h2 {
      font-size: 2.9em; }
  .success-shape {
    padding-left: 50%; }
  .success-diagonal {
    border-width: 0 0 700px 190px; }
  .secondary-description h3 {
    font-size: 26px; }
  footer .col-sm-4 {
    padding-left: 5%; }
  footer p, footer h3 {
    text-align: left; } }

@media screen and (min-width: 950px) {
  .cause, .program-inner, .join {
    width: 80%;
    margin: 0 auto; }
  .join {
    width: 88%; }
  .join-us {
    padding-left: 7px;
    padding-right: 7px; }
    .join-us h2 {
      top: 70%;
      left: 8%;
      font-size: 2.4em; }
  .success-info {
    right: 4%; }
    .success-info h3 {
      font-size: 38px; }
    .success-info p {
      font-size: 25px; } }

@media screen and (min-width: 1600px) {
  .header {
    height: 720px; }
  .header-shape {
    width: 800px; }
  .header-diagonal {
    border-width: 0 230px 720px 0; }
  .header-form {
    left: 90px; } }
