html {
  overflow: auto; }

body {
  height: 100%;
  width: 100%;
  overflow: hidden; }

* {
  box-sizing: border-box;
  font-family: "Poppins";
  color: #504949;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h1, h2, h3, h4 {
  margin-top: 0; }

.heading-container {
  text-align: center; }

.sr-only {
  clip: rect(1px 1px 1px 1px);
  /* IE 6/7 */
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px; }

.text--subheading, .text.-small, .diagram-detail .diagram-detail__card .diagram-detail__card__content {
  font-size: 18px;
  line-height: 1.777777778; }

.text--subheading, .text.-caps {
  text-transform: uppercase; }

.text--subheading, .text.-bold {
  font-weight: 600; }

.text--subheading, .text.-color-accent {
  color: #BB7140; }

.text.-centered {
  text-align: center; }

.text.-wide-spacing {
  letter-spacing: .23em; }

.text.-serif {
  font-family: 'Merriweather';
  font-weight: 300; }

.text.-x-small {
  font-size: 14px;
  line-height: 1.733333333; }

.text.-medium {
  font-size: 20px;
  line-height: 1.428571429; }

.text.-large {
  font-size: 28px;
  line-height: 1.428571429; }

.text.-color-dark {
  color: #0e5254; }

.text.-color-lightblue {
  color: #1394AA;
  margin-bottom: 30px; }

.text.-color-white {
  color: white; }

cite a {
  color: #EC4444;
  text-decoration: underline;
  vertical-align: super;
  font-size: 13px;
  font-style: normal; }

.bg-green {
  background-color: #d2e7e2; }

.bg-white {
  background-color: white; }

.bg-blue {
  background-color: #184d66; }

.bg-gradient {
  background: linear-gradient(#184d66, #d2e7e2); }

.content-wrap {
  padding: 50px 15px;
  position: relative;
  max-width: 1075px;
  margin: 0 auto; }

.lrg-rl-padding {
  padding-right: 30px;
  padding-left: 30px; }

.narrow-padding {
  padding: 30px 15px 0; }

.header {
  min-height: 50vh; }

.header__img {
  width: 100%;
  margin: 27px auto 50px;
  max-width: 700px;
  height: 100%;
  display: block; }

.conversation__icon,
.conversation__background,
.flo-diagram,
.flo-img,
.footer__bg,
.footer__img,
.phone,
.pills {
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute; }

.pills.-yellow {
  background-image: url("../../public/img/pills_7.png");
  height: 55px;
  width: 70px;
  top: -16px;
  left: 10px; }

.pills.-multiple {
  background-image: url("../../public/img/pills_2.png");
  height: 100px;
  width: 170px;
  top: -6px;
  right: -105px; }

.pills.-purple {
  background-image: url("../../public/img/pills_5.png");
  height: 100px;
  width: 70px;
  right: -35px;
  bottom: -45px;
  z-index: 1; }

.intro .text,
.narrow-padding .text {
  margin-bottom: 40px; }

.quote-container {
  position: relative;
  height: 100%;
  margin-bottom: 0;
  border: none; }

.quote {
  text-align: center; }

.diagram {
  position: relative;
  padding-top: 25px; }

.diagram-detail {
  padding-top: 65px; }
  .diagram-detail .diagram-detail__card {
    position: relative;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    padding: 73px 38px 38px;
    max-width: 700px;
    margin: 0 auto;
    text-align: center; }
    .diagram-detail .diagram-detail__card .diagram-detail__card__content {
      line-height: 1.375; }
  .diagram-detail.-last {
    margin-bottom: 40px; }

.icon {
  position: absolute;
  border-radius: 100px;
  right: 0;
  left: 0;
  margin: 0 auto; }
  .icon.-borders {
    width: 88px;
    height: 88px;
    top: -33.5px;
    border: 10px solid rgba(255, 255, 255, 0.57); }
  .icon.-color {
    top: -25px;
    width: 71px;
    height: 71px;
    background-color: #f2c84d;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 7px solid white; }
    .icon.-color img.resize {
      width: 55%;
      padding-top: 4px; }

.question {
  padding-bottom: 140px; }

.meet-flo {
  padding-top: 145px; }

.flo-img {
  background-image: url("../../public/img/florence_2.png");
  width: 282px;
  height: 305px;
  top: -285px;
  right: 0;
  margin: 0 auto;
  left: 0; }

.conversation {
  max-width: 1075px;
  margin: 0 auto 100px;
  background-color: white; }
  .conversation.-cup .conversation__icon {
    background-image: url("../../public/img/section-1-illo.png"); }
  .conversation.-cup .conversation__background {
    background-image: url("../../public/img/section-1-illo-background.jpg");
    width: 312px;
    height: 126px;
    transform: rotate(180deg); }
  .conversation.-pills .conversation__icon {
    background-image: url("../../public/img/pills_3.png");
    width: 80px; }
  .conversation.-pills .conversation__background {
    background-image: url("../../public/img/section-2-illo-background.jpg");
    width: 330px;
    height: 186px;
    transform: rotate(180deg); }
  .conversation.-temp .conversation__icon {
    background-image: url("../../public/img/section-3-illo.png");
    width: 80px; }
  .conversation.-temp .conversation__background {
    background-image: url("../../public/img/section-3-illo-background.jpg");
    width: 402px;
    height: 166px; }
  .conversation.-box .conversation__icon {
    background-image: url("../../public/img/section-4-illo.png");
    width: 260px;
    top: -40px; }
  .conversation.-box .conversation__background {
    background-image: url("../../public/img/section-4-illo-background.jpg");
    width: 558px;
    height: 221px; }
  .conversation.-money {
    margin-bottom: 140px; }
    .conversation.-money .conversation__icon {
      background-image: url("../../public/img/section-5-illo.png"); }
    .conversation.-money .conversation__background {
      background-image: url("../../public/img/section-5-illo-background.jpg");
      width: 536px;
      height: 187px; }
  .conversation.-cheer {
    margin-bottom: 0px; }
    .conversation.-cheer .conversation__icon {
      background-image: url("../../public/img/section-6-illo.png");
      width: 195px;
      top: -100px; }
    .conversation.-cheer .conversation__background {
      background-image: url("../../public/img/section-6-illo-background.jpg");
      width: 396px;
      height: 216px;
      transform: rotate(180deg); }
  .conversation .narrow-padding {
    z-index: 1;
    position: relative; }

.conversation__wrap {
  display: flex;
  flex-direction: column; }

.conversation__icon {
  width: 100px;
  height: 200px;
  top: -62px;
  right: 0;
  left: 0;
  margin: 0 auto;
  z-index: 2; }

.conversation__background {
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 0;
  z-index: 1; }

.flo-diagram {
  position: relative;
  background-image: url("../../public/img/giant-florence-of-doom.png");
  width: 160px;
  height: 300px;
  margin: 30px auto 0; }

.contact-btn {
  color: #f2c84d;
  border: 4px solid #f2c84d;
  background-color: transparent;
  padding: 14px 0 12px;
  border-radius: 32px;
  width: 220px;
  margin: 0 auto;
  display: block; }

.footer__bg {
  background-image: url("../../public/img/section-6-illo-background.png");
  bottom: -40px;
  height: 300px;
  position: absolute;
  width: 500px;
  margin: 0 auto;
  right: 0;
  left: 0; }

.footer__img {
  position: relative;
  background-image: url("../../public/img/giant-florence-of-doom.png");
  width: 110px;
  height: 190px;
  margin: 0 auto;
  bottom: -105px; }

.conversation__chat {
  display: flex;
  flex-direction: column;
  margin-left: 50px; }

.bubble {
  position: relative;
  margin-bottom: 7px;
  animation: appear-text 0.2s ease-out forwards paused;
  animation-iteration-count: 1;
  transform-origin: left bottom;
  opacity: 0; }
  .bubble p, .bubble .spinner {
    line-height: 1.375;
    color: #252224;
    display: inline-block;
    border-radius: 15px;
    background-color: #e2ebe9;
    padding: 12px;
    margin: 0; }
  .bubble .spinner {
    position: absolute;
    bottom: 0; }
    .bubble .spinner > span {
      width: 8px;
      height: 8px;
      background: #514D4C;
      display: inline-block;
      border-radius: 100px;
      animation: typing-dots 1s ease-in infinite; }
      .bubble .spinner > span:nth-child(2) {
        animation-delay: 0.2s; }
      .bubble .spinner > span:nth-child(3) {
        animation-delay: 0.4s; }
  .bubble.-bot-avatar::after, .bubble.-response::after {
    content: '';
    position: absolute;
    height: 10px;
    width: 20px;
    background-color: #e2ebe9;
    bottom: 7px; }
  .bubble.-bot-avatar .spinner::after,
  .bubble.-bot-avatar p::after, .bubble.-response .spinner::after,
  .bubble.-response p::after {
    content: '';
    position: absolute;
    bottom: 8px;
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 100px;
    z-index: 1; }
  .bubble.-bot-avatar::before {
    content: url("../../public/img/avatar_2.png");
    background-color: #f2c84d;
    border-radius: 300px;
    padding: 4px 6px 0 5px;
    left: -50px;
    position: absolute;
    bottom: 0;
    z-index: 2; }
  .bubble.-bot-avatar::after {
    left: -10px; }
  .bubble.-bot-avatar > .spinner::after,
  .bubble.-bot-avatar > p::after {
    left: -20px; }
  .bubble.-response {
    animation-name: appear-text-right;
    transform-origin: right bottom;
    align-self: flex-end; }
    .bubble.-response p {
      background-color: #1793ad;
      color: white; }
    .bubble.-response::after {
      background-color: #1793ad;
      right: -8px; }
    .bubble.-response > p::after {
      right: -20px;
      bottom: 7px; }
  .bubble.-flo p {
    opacity: 0; }
  .bubble.-flo.finished .spinner {
    visibility: hidden; }
  .bubble.-flo.finished p {
    opacity: 1; }

@keyframes appear-text {
  0% {
    top: -10px;
    transform: translateY(20px) translateX(-30px) scale(0.5); }
  50% {
    top: 3px; }
  100% {
    opacity: 1;
    top: 0px;
    transform: translateY(0px) translateX(0px) scale(1); } }

@keyframes appear-text-right {
  0% {
    top: -10px;
    transform: translateY(20px) translateX(30px) scale(0.5); }
  50% {
    top: 3px; }
  100% {
    opacity: 1;
    top: 0px;
    transform: translateY(0px) translateX(0px) scale(1); } }

@keyframes typing-dots {
  0% {
    background: #cacaca; }
  60% {
    background: #514D4C; } }

.footer .heading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.logo {
  background: url("../../public/img/viget.png");
  width: 125px;
  height: 62px;
  position: relative;
  right: -30px; }
  .logo::before {
    content: url("../../public/img/viget_2.png");
    position: absolute;
    left: -70px; }

@media screen and (min-width: 1017px) {
  .conversation {
    border-radius: 6px; }
    .conversation.-cup .conversation__icon {
      width: 160px;
      height: 171px;
      bottom: -22px;
      top: inherit;
      left: 210px; }
    .conversation.-cup .conversation__background {
      bottom: 0;
      left: 125px;
      top: inherit;
      transform: rotate(0deg); }
    .conversation.-pills .conversation__icon {
      width: 130px;
      height: 198px;
      bottom: -40px;
      top: inherit;
      left: 210px; }
    .conversation.-pills .conversation__background {
      bottom: 0;
      left: 105px;
      top: inherit;
      transform: rotate(0deg); }
    .conversation.-temp .conversation__icon {
      width: 103px;
      height: 146px;
      left: 408px;
      top: -30px; }
    .conversation.-temp .conversation__background {
      left: 250px; }
    .conversation.-box .conversation__icon {
      width: 408px;
      height: 141px;
      left: 121px; }
    .conversation.-box .conversation__background {
      left: 20px; }
    .conversation.-money {
      margin-bottom: 100px; }
      .conversation.-money .conversation__icon {
        width: 159px;
        height: 200px;
        top: -83px;
        left: 219px; }
      .conversation.-money .conversation__background {
        left: 20px; }
    .conversation.-cheer .conversation__icon {
      width: 203px;
      top: inherit;
      height: 105px;
      bottom: 0;
      left: 194px; }
    .conversation.-cheer .conversation__background {
      left: 105px;
      bottom: 0;
      top: inherit;
      transform: rotate(0deg); }
  .conversation:nth-child(1) > .content-wrap > .conversation__icon,
  .conversation:nth-child(2) > .content-wrap > .conversation__icon,
  .conversation:nth-child(6) > .content-wrap > .conversation__icon {
    transform: translateY(50px); }
  .conversation:nth-child(3) > .content-wrap > .conversation__icon,
  .conversation:nth-child(4) > .content-wrap > .conversation__icon,
  .conversation:nth-child(5) > .content-wrap > .conversation__icon {
    transform: translateY(-50px); }
  .conversation__icon {
    margin: 0;
    opacity: 0; }
    .conversation__icon.animate {
      transform: translateY(0px) !important;
      opacity: 1;
      transition: 1s transform ease-in-out, 1s opacity ease-in-out; }
  .conversation__background {
    margin: initial; }
  .conversation__wrap {
    flex-direction: row;
    align-items: center; }
    .conversation__wrap .conversation__content, .conversation__wrap .conversation__chat {
      z-index: 1; }
    .conversation__wrap .conversation__chat {
      width: 40%; }
    .conversation__wrap .conversation__content {
      width: 60%;
      margin-right: 50px; }
      .conversation__wrap .conversation__content .-centered {
        text-align: left; }
  .meet-flo .heading-container > .-large {
    font-size: 60px; }
  .bg-green, .bg-blue, .bg-gradient {
    padding: 0 15px; }
  .content-wrap {
    padding: 75px 100px; }
  .intro {
    border-radius: 6px;
    max-width: 1075px;
    margin: 0 auto 100px; }
  .pills.-double {
    background-image: url("../../public/img/pills_6.png");
    height: 120px;
    width: 170px;
    bottom: 100px;
    left: -20px; }
  .pills.-multiple {
    height: 300px;
    width: 250px;
    right: -20px; }
  .pills.-yellow {
    height: 200px;
    width: 100px;
    top: -30px;
    left: 100px; }
  .pills.-purple {
    height: 125px;
    width: 140px;
    right: 0; }
  .pills.bottle-1 {
    background-image: url("../../public/img/pills_3.png");
    width: 155px;
    height: 227px;
    left: -30px;
    top: 86px;
    z-index: 1; }
  .pills.bottle-2 {
    background-image: url("../../public/img/pills_4.png");
    width: 120px;
    height: 244px;
    left: 70px;
    top: 5px; }
  .pills.bottle-3 {
    background-image: url("../../public/img/pills.png");
    width: 190px;
    height: 401px;
    left: -175px;
    top: -70px; }
  .quote {
    position: relative;
    width: 570px;
    right: 0;
    left: 0;
    margin: 0 30%; }
  .phone {
    background-image: url("../../public/img/phone.png");
    width: 270px;
    height: 445px;
    right: -280px; }
  .question__content {
    width: 730px;
    position: relative; } }

@media screen and (min-width: 1200px) {
  .flo-diagram {
    width: 389px;
    height: 641px;
    margin-top: 100px;
    margin-bottom: 150px; }
  .diagram-detail:nth-child(1) {
    top: 170px; }
  .diagram-detail:nth-child(2) {
    top: 418px; }
  .diagram-detail:nth-child(3) {
    top: 690px; }
  .diagram-detail:nth-child(4) {
    top: 250px; }
  .diagram-detail:nth-child(5) {
    top: 550px; }
  .diagram-detail-container .diagram-detail {
    position: absolute;
    left: -50px; }
    .diagram-detail-container .diagram-detail .diagram-detail__card {
      width: 494px;
      padding: 40px 60px 30px 25px;
      text-align: right;
      border-top-right-radius: 70px;
      border-bottom-right-radius: 70px;
      margin: 0; }
      .diagram-detail-container .diagram-detail .diagram-detail__card .diagram-detail__card__content {
        font-size: 16px; }
  .diagram-detail-container .diagram-detail.-reverse {
    right: -50px;
    left: inherit; }
    .diagram-detail-container .diagram-detail.-reverse .diagram-detail__card {
      border-radius: 70px 10px 10px 70px;
      padding: 40px 25px 30px 60px;
      text-align: left; }
      .diagram-detail-container .diagram-detail.-reverse .diagram-detail__card .icon.-color {
        left: -33px;
        right: inherit; }
      .diagram-detail-container .diagram-detail.-reverse .diagram-detail__card .icon.-borders {
        left: -43px;
        right: inherit; }
  .diagram-detail-container .icon {
    left: inherit;
    bottom: 0;
    margin: auto; }
    .diagram-detail-container .icon.-color {
      top: 0;
      right: -33px; }
    .diagram-detail-container .icon.-borders {
      top: 0;
      right: -43px; }
  .footer .heading-container {
    flex-direction: row; }
  .logo {
    margin-left: 55px; } }
