//config
@import './config/colors';

//base
@import './base/layout';
@import './base/typography';
@import './base/backgrounds';
@import './base/padding';

//page components
@import './modules/header';
@import './modules/intro';
@import './modules/diagram';
@import './modules/question';
@import './modules/meet-flo';
@import './modules/conversation';
@import './modules/footer';



//utility class

.sr-only {
  border: none;
  clip: rect(1px 1px 1px 1px); /* IE 6/7 */
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}


//***I know media queries should be nested under the respective elements, but left them here for time's sake***

@media screen and (min-width: 1017px) {

  .bg-green, .bg-blue, .bg-gradient {
    padding: 0 15px;
  }

  .content-wrap {
    padding: 75px 100px;
  }

  .pills {
    &.-double {
      background-image: url('../../public/img/pills_6.png');
      bottom: 100px;
      height: 120px;
      left: -20px;
      width: 170px;
    }

    &.-multiple {
      height: 300px;
      right: -20px;
      width: 250px;
    }

    &.-yellow {
      height: 200px;
      left: 100px;
      top: -30px;
      width: 100px;
    }
    &.-purple {
      height: 125px;
      right: 0;
      width: 140px;
    }

    &.bottle-1 {
      background-image: url("../../public/img/pills_3.png");
      height: 227px;
      left: -30px;
      top: 86px;
      width: 155px;
      z-index: 1;
    }

    &.bottle-2 {
      background-image: url('../../public/img/pills_4.png');
      height: 244px;
      left: 70px;
      top: 5px;
      width: 120px;
    }

    &.bottle-3 {
      background-image: url('../../public/img/pills.png');
      height: 401px;
      left: -175px;
      top: -70px;
      width: 190px;
    }
  }

  .phone {
    background-image: url('../../public/img/phone.png');
    height: 445px;
    right: -280px;
    width: 270px;
  }

  .intro {
    border-radius: 6px;
    margin: 0 auto 100px;
    max-width: 1075px;
  }

  .quote {
    left: 0;
    margin: 0 30%;
    position: relative;
    right: 0;
    width: 570px;
  }

  .question__content {
    position: relative;
    width: 730px;
  }

  .conversation {
    border-radius: 6px;

    &.-cup {

      .conversation__icon {
        bottom: -22px;
        height: 171px;
        left: 210px;
        top: inherit;
        width: 160px;
      }

      .conversation__background {
        bottom: 0;
        left: 125px;
        top: inherit;
        transform: rotate(0deg);
      }
    }

    &.-pills {

      .conversation__icon {
        bottom: -40px;
        height: 198px;
        left: 210px;
        top: inherit;
        width: 130px;
      }

      .conversation__background {
        bottom: 0;
        left: 105px;
        top: inherit;
        transform: rotate(0deg);
      }
    }

    &.-temp {

      .conversation__icon {
        height: 146px;
        left: 408px;
        top: -30px;
        width: 103px;
      }

      .conversation__background {
        left: 250px;
      }
    }

    &.-box {

      .conversation__icon {
        height: 141px;
        left: 121px;
        width: 408px;
      }

      .conversation__background {
        left: 20px;
      }
    }

    &.-money {
      margin-bottom: 100px;

      .conversation__icon {
        height: 200px;
        left: 219px;
        top: -83px;
        width: 159px;
      }

      .conversation__background {
        left: 20px;
      }
    }

    &.-cheer {

      .conversation__icon {
        bottom: 0;
        height: 105px;
        left: 194px;
        top: inherit;
        width: 203px;
      }

      .conversation__background {
        bottom: 0;
        left: 105px;
        top: inherit;
        transform: rotate(0deg);
      }
    }
  }

  //animating in icon on conversation cards
  .conversation:nth-child(1),
  .conversation:nth-child(2),
  .conversation:nth-child(6) {
    > .content-wrap {
      > .conversation__icon {
        transform: translateY(50px);
      }
    }
  }

  .conversation:nth-child(3),
  .conversation:nth-child(4),
  .conversation:nth-child(5) {
    > .content-wrap {
      > .conversation__icon {
        transform: translateY(-50px);
      }
    }
  }

  //conversation icon
  .conversation__icon {
    margin: 0;
    opacity: 0;

    &.animate {
      opacity: 1;
      transform: translateY(0px) !important;
      transition: 1s transform ease-in-out, 1s opacity ease-in-out
    }
  }

  //conversation background
  .conversation__background {
    margin: initial
  }

  //conversation wrapper
  .conversation__wrap {
    align-items: center;
    flex-direction: row;

    .conversation__content, .conversation__chat  {
      z-index: 1;
    }

    .conversation__chat  {
      width: 40%;
    }

    .conversation__content {
      margin-right: 50px;
      width: 60%;

      .-centered {
        text-align: left
      }
    }
  }

  .meet-flo {
    .heading-container > .-large {
      font-size: 60px
    }
  }

}

@media screen and (min-width: 1200px) {
  .flo-diagram {
    height: 641px;
    margin-bottom: 150px;
    margin-top: 100px;
    width: 389px;
  }

  .diagram-detail:nth-child(1) {
    top: 170px
  }
  .diagram-detail:nth-child(2) {
    top: 418px
  }
  .diagram-detail:nth-child(3) {
    top: 690px
  }
  .diagram-detail:nth-child(4) {
    top: 250px
  }
  .diagram-detail:nth-child(5) {
    top: 550px
  }

  .diagram-detail-container {

    //cards going in normal direction
    .diagram-detail {
      position: absolute;
      left: -50px;

      .diagram-detail__card {
        border-bottom-right-radius: 70px;
        border-top-right-radius: 70px;
        margin: 0;
        padding: 40px 60px 30px 25px;
        text-align: right;
        width: 494px;

        .diagram-detail__card__content {
          font-size: 16px;
        }
      }
    }

    //cards going in reverse direction
    .diagram-detail.-reverse {
      left: inherit;
      right: -50px;

      .diagram-detail__card {
        border-radius: 70px 10px 10px 70px;
        padding: 40px 25px 30px 60px;
        text-align: left;

        .icon.-color {
          left: -33px;
          right: inherit;
        }
        .icon.-borders {
          left: -43px;
          right: inherit;
        }
      }
    }

    //card icons
    .icon {
      bottom: 0;
      left: inherit;
      margin: auto;

      &.-color {
        right: -33px;
        top: 0;
      }

      &.-borders {
        right: -43px;
        top: 0;
      }
    }

  }

  //FOOTER

  .footer {
    .heading-container {
      flex-direction: row;
    }
  }

  .logo {
    margin-left: 55px;
  }

}
